- show_trusted_row = local_assigns.fetch(:show_trusted_row, false)

.table-holder.oauth-application-show
  %table.table
    %tr
      %td
        = _('Application ID')
      %td
        .clipboard-group
          .input-group
            %input.label.label-monospace.monospace{ id: "application_id", type: "text", autocomplete: 'off', value: @application.uid, readonly: true }
            .input-group-append
              = clipboard_button(target: '#application_id', title: _("Copy ID"), class: "gl-button btn btn-default")
    %tr
      %td
        = _('Secret')
      %td
        #js-oauth-application-secret{ data: { initial_secret: @application.plaintext_secret, renew_path: renew_path } }

    %tr
      %td
        = _('Callback URL')
      %td
        - @application.redirect_uri.split.each do |uri|
          %div
            %span.monospace= uri

    - if show_trusted_row
      %tr
        %td
          = _('Trusted')
        %td
          = @application.trusted? ? _('Yes') : _('No')

    %tr
      %td
        = _('Confidential')
      %td
        = @application.confidential? ? _('Yes') : _('No')

    = render "shared/tokens/scopes_list", token: @application

.form-actions.gl-display-flex.gl-justify-content-space-between
  %div
    - if @created
      = link_to _('Continue'), index_path, class: 'btn btn-confirm btn-md gl-button gl-mr-3'
    = link_to _('Edit'), edit_path, class: 'btn btn-default btn-md gl-button'
  = render 'shared/doorkeeper/applications/delete_form', path: delete_path
